/*
 *
 * {{properCase name }}
 *
 */
/* eslint-disable import/first */
/* eslint-disable react/jsx-filename-extension */
/* eslint-disable react/prop-types */

import React from 'react';

import { connect } from 'react-redux';
{{#if wantActionsAndReducer}}
import * as actions from './actions';
{{/if}}

{{#if wantContentful}}
import * as contentful from 'contentful';
import { SPACE_ID, ACCESS_TOKEN } from './constants'
{{/if}}

export class {{ properCase name }} extends React.{{{ component }}} { // eslint-disable-line react/prefer-stateless-function
  render() {
    {{#if wantContentful}}
    const client = contentful.createClient({ space: SPACE_ID, accessToken: ACCESS_TOKEN, });
    // client.getEntries()
    //   .then((response) => this.props.fetchContentful(response))
    //   .catch(console.error);
    //
    // client.getEntry(SUPPORT)
    //   .then(function (entry) {
    //     // logs the entry metadata
    //
    //     console.log('entry.sys')
    //     console.log(entry.sys)
    //
    //     // logs the field with ID title
    //     console.log(entry.fields.productName)
    //   })productName
    {{/if}}

    return (
      <div>
      </div>
    );
  }
}

{{#if wantActionsAndReducer}}
function mapStateToProps(state) {
  //const {} = state;
  return {};
}
{{/if}}

{{#if wantActionsAndReducer}}
export default connect(mapStateToProps, actions)({{ properCase name }});
{{else}}
export default connect(null, actions)({{ properCase name }});
{{/if}}
